
.payever-section .heading {background: url("images/payever_logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.payever-section .button-container {float: right;}
.payever-section .config-alt {background: url("images/payever_allinone.png") no-repeat scroll 0 0 / 100% auto; height: 36px; margin: 0.5rem 0 0; width: 330px;}
