<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payever_settings>
            <demo>
                <client_id>2746_6abnuat5q10kswsk4ckk4ssokw4kgk8wow08sg0c8csggk4o00</client_id>
                <client_secret>2fjpkglmyeckg008oowckco4gscc4og4s0kogskk48k8o8wgsc</client_secret>
                <slug>payever</slug>
                <backup_live_keys>payever_settings/demo/backup</backup_live_keys>
            </demo>
        </payever_settings>
        <payment>
            <payever_stripe>
                <active>0</active>
                <model>PayeverStripeGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_refund>1</can_refund>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_stripe>
            <payever_paymill_directdebit>
                <active>0</active>
                <model>PayeverPaymillDirectdebitGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Paymill Directdebit</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_paymill_directdebit>
            <payever_sofort>
                <active>0</active>
                <model>PayeverSofortGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Sofort</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_sofort>
            <payever_paymill_creditcard>
                <active>0</active>
                <model>PayeverPaymillCreditcardGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Payever Paymill Creditcard</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_refund>1</can_refund>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_paymill_creditcard>
            <payever_santander_installment>
                <active>0</active>
                <model>PayeverSantanderInstallmentGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Santander Installment</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_installment>
            <payever_santander_installment_no>
                <active>0</active>
                <model>PayeverSantanderInstallmentNoGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Santander Installment No</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_installment_no>
            <payever_santander_installment_dk>
                <active>0</active>
                <model>PayeverSantanderInstallmentDkGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Santander Installment Dk</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_installment_dk>
            <payever_santander_installment_se>
                <active>0</active>
                <model>PayeverSantanderInstallmentSeGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Santander Installment Se</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_installment_se>
            <payever_santander_invoice_no>
                <active>0</active>
                <model>PayeverSantanderInvoiceNoGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Santander Invoice No</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_invoice_no>
            <payever_paypal>
                <active>0</active>
                <model>PayeverPaypalGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Payever Paypal</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_paypal>
            <payever_santander_invoice_de>
                <active>0</active>
                <model>PayeverSantanderInvoiceDeGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Invoice</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_santander_invoice_de>
            <payever_payex_faktura>
                <active>0</active>
                <model>PayeverPayexFakturaGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <auto_capture>1</auto_capture>
                <title>Payever Payex Faktura</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_payex_faktura>
            <payever_payex_creditcard>
                <active>0</active>
                <model>PayeverPayexCreditcardGatewayFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Payever Payex Creditcard</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <paymentInfoKeys>card_last_digits,card_name,id,campaign_code,application_number,credit_type</paymentInfoKeys>
            </payever_payex_creditcard>
                </payment>
    </default>
</config>